<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main >

      <% profiles.forEach(profile => { %>
        <div class="userProfileIndex">

          <a  href="/profiles/<%= profile._id %>">

              <% if (profile.avatar) { %>
                <img
                  class="card-img-top"
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="100%"
                />
              <% } else {%>
                <img
                  class="card-img-top"
                  src="/images/icons/user.png"
                  alt="A placeholder avatar"
                  width="100%"
                />
              <% } %>
                <h2>Chef <%= profile.name %></h2>
                <% let total=0 %>
                <% let profileI = `${profile._id}` %>
                <% recipes.forEach(recipe => { %>
                <% let rOwner = `${recipe.owner}` %>
                  <% if (rOwner===profileI) { %>
                    <% total+=1 %>
                    <%} %>
                    <% })%>
                    <p>Has contributed <%=total %> recipes</p>                  
          </a>
        </div>
      <% }) %>

</main>

<%- include('../partials/footer') %>
