<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>

<% if (isSelf)  {%> 
  Add a recipe?
<% } %>


</main>

<%- include('../partials/footer') %>
