<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/mealplans/index.css">
<%- include('../partials/nav') %>
<h1><%= title %></h1>
  <main>
    <div id="mealplanIndexView">
      <% mealplans.forEach(mealplan =>{ %>
        <a href="/mealplans/<%= mealplan._id %>">
        <div id="mealplanIndexCard">
          <h2><%=mealplan.name%></h2>
          
          <p>
            mealplan content goes here.
          </p>
        </div>
        </a>
        <%})%>
    </div>
    <% if (user?.profile._id) { %>
      <a href="/mealplans/new">
        <input value="add mealplan" type="submit"/>
      </a>
      <% } else { %>
        <h1>You must be Logged in to add mealplans!</h1>
        <% } %>
</main>
<%- include('../partials/footer') %>
