<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/mealplans/show.css">
<%- include('../partials/nav') %>
<main>
  <div id="topSpaceBuffer"></div>
  
  <h1 class="title"><%= title %></h1>
    <div id="mealplanShowView">
        <div id="mealPlanName"><h3><%=mealplan.name%></h3></div>
          <p>
            <table id="mealplanTable">
            <tr>
              <th>Weekday</th>
              <th>Breakfast</th>
              <th>Lunch</th>
              <th>Snack</th>
              <th>Supper</th>
            </tr> 
            <tr>
              <td>Monday:</td>
              <td><%=mealplan.meals[0] %></td>
              <td><%=mealplan.meals[1] %></td>
              <td><%=mealplan.meals[2] %></td>
              <td><%=mealplan.meals[3] %></td>
            </tr>
            <tr>
              <td>Tuesday:</td>
              <td><%=mealplan.meals[4] %></td>
              <td><%=mealplan.meals[5] %></td>
              <td><%=mealplan.meals[6] %></td>
              <td><%=mealplan.meals[7] %></td>
            </tr>
            <tr>
              <td>Wednesday:</td>
              <td><%=mealplan.meals[8] %></td>
              <td><%=mealplan.meals[9] %></td>
              <td><%=mealplan.meals[10] %></td>
              <td><%=mealplan.meals[11] %></td>
            </tr>
            <tr>
              <td>Thursday:</td>
              <td><%=mealplan.meals[12] %></td>
              <td><%=mealplan.meals[13] %></td>
              <td><%=mealplan.meals[14] %></td>
              <td><%=mealplan.meals[15] %></td>
            </tr>
            <tr>
              <td>Friday:</td>
              <td><%=mealplan.meals[16] %></td>
              <td><%=mealplan.meals[17] %></td>
              <td><%=mealplan.meals[18] %></td>
              <td><%=mealplan.meals[19] %></td>
            </tr>
            <tr>
              <td>Saturday:</td>
              <td><%=mealplan.meals[20] %></td>
              <td><%=mealplan.meals[21] %></td>
              <td><%=mealplan.meals[22] %></td>
              <td><%=mealplan.meals[23] %></td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td><%=mealplan.meals[24] %></td>
              <td><%=mealplan.meals[25] %></td>
              <td><%=mealplan.meals[26] %></td>
              <td><%=mealplan.meals[27] %></td>
            </tr>
          </table>

          </p>
          <% if (mealplan.owner.equals(user?.profile._id)) { %>
            <div id="mealplanButtons">
            <a href="/mealplans/<%= mealplan._id %>/edit">
              <input class="btn" value="Edit Mealplan" type="submit"/>
            </a>
            &emsp;
            <form action="/mealplans/<%= mealplan._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete</button>
            </form>
          </div>
          </div>
        </div>
  </div>
  <% } %>

      <% mealplan.comments.forEach(comment => { %>
        <div id="mealplanComment">
            <%=comment.content %>
            <br/>
            <br/>
            <div id = "commentatorInfo">
            <img id="commentProfilePic" src="<%=comment.avatar%>">
            <b><%=comment.name %></b> made a suggestion on 
            <%=comment.createdAt.toString().substring(0,15) %> at
            <%=comment.createdAt.toString().substring(16, 21) %>
            <br/>
            <% if (comment.owner.equals(user?.profile._id)) { %>
              <form 
                action="/mealplans/<%= mealplan._id %>/comments/<%=comment.id%>?_method=DELETE" 
                method="POST"
              >
                <button class="btn" type="submit" id="delete">Delete</button>
              </form>
              <% } %>
            </div>
            </div>
        <% }) %> 
        <div id="addMealplanComment">
          <form action="/mealplans/<%=mealplan._id%>/comments" method="post">
          <label>Feel free to make a suggestion or leave feedback:
            <br/>
            <br/>
            <textarea name="content"  cols="40" rows="5"></textarea>
          </label>
          <br/>
          <br/>
          <input hidden name="name" value="<%=name%>">
          <input hidden name="avatar" value="<%=avatar%>">
          <button class="btn" type="submit">Add Suggestion</button>
        </form>
        </div> 
        <div id="please-rotate">
          <img src="/images/rotate-device.png" alt="rotate-device">
          <h3>Please rotate your device to see the mealplan</h3>
        </div>
</main>
<%- include('../partials/footer') %>
