<script defer src="/js/recipes/addIngredient.js"></script>
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css" />
<%- include('../partials/nav') %>

<main>
  <div id="topSpaceBuffer"></div>
  <div id="newRecipe">
    <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
    <div id="createRecipe">
      <form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
        <label
          >Recipe Title:
          <input type="text" name="name" value="<%=recipe.name%>" />
        </label>
        <label
          >Preperation Time:
          <input type="number" name="prepTime" value="<%=recipe.prepTime%>" />
        </label>
        <label
          >Cooking Time:
          <input type="number" name="cookTime" value="<%=recipe.cookTime%>" />
        </label>
        <label
          >Cooking Temperature:
          <input type="number" name="temp" value="<%=recipe.temp%>" />
        </label>
        <label
          >Number of portions:
          <input
            type="number"
            name="yield"
            min="1"
            value="<%=recipe.yield%>"
            required
          />
        </label>
        <br />
        <div id="ingredienList">
          <% recipe.ingredients.forEach(ingredient => { %>
          <input
            type="text"
            name="ingredients"
            value="<%=ingredient %>"
          /><br />
          <%});%>

          <a href="#" id="addIngredientLink" onclick="addFields()"
            >Add more Ingredients</a
          >
          <div id="container"></div>
        </div>
        <label
          >Preperation Instructions:
          <textarea name="instructions" cols="55" rows="20">
<%=recipe.instructions%></textarea
          >
        </label>
        <br/>
        <br/>
        <label
          >Picture URL:
          <input type="text" name="picture" value="<%=recipe.picture%>" id="pictureUrl" size="44" />
        </label>
        <br/>
        <% if(role==="admin") { %>
          <br/>Make recipe invisible to the index view by deselcting the visibility checkbox. Visible?
          <input type="checkbox" name="visible" checked>
        <% } %>
        <br/>
        <div id="buttonDiv">
          <form>
            <input type="button" class="btn" value="Go back!" onclick="history.back()" />
          </form>
        <% if (recipe.owner.equals(user?.profile._id)) { %>
        <button class="btn" type="submit">Update Recipe</button>
      </form>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <input hidden name="ownerName" value="<%=ownerName%>" />
        <input hidden name="ownerAvatar" value="<%=ownerAvatar%>" />
        <button class="btn" type="submit">Delete</button>
      </form>
      <% } %>
    </div>
    </div>
    <% } else{ %>
    <h1>You must be Logged in to add recipes!</h1>
    <% } %>
  </div>
  <%- include('../partials/footer') %>
</main>

