<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>

<main>
  <div id="newRecipe">
  <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
      <div id="createRecipe">
        <form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
          <label>Recipe Title:
            <input type="text" name="name" value="<%=recipe.name%>">
          </label>
          <label>Preperation Time: 
            <input type="number" name="prepTime" value="<%=recipe.prepTime%>">
          </label>
          <label>Cooking Time:
            <input type="number" name="cookTime" value="<%=recipe.cookTime%>">
          </label>
          <label>Cooking Temperature: 
            <input type="number" name="temp"  value="<%=recipe.temp%>">
          </label>
          <label>Number of portions: 
            <input type="number" name="yield" min=1 value="<%=recipe.yield%>" required>
          </label>
          <br/>
          <div id="ingredienList">
            <input type="text" name="ingredient1" value="<%=recipe.ingredient1%>">
            <input type="text" name="ingredient2" value="<%=recipe.ingredient2%>">
            <input type="text" name="ingredient3" value="<%=recipe.ingredient3%>">
            <input type="text" name="ingredient4" value="<%=recipe.ingredient4%>">
            <input type="text" name="ingredient5" value="<%=recipe.ingredient5%>">
            <input type="text" name="ingredient6"  value="<%=recipe.ingredient6%>">
            <input type="text" name="ingredient7" value="<%=recipe.ingredient7%>">
            <input type="text" name="ingredient8" value="<%=recipe.ingredient8%>">
            <input type="text" name="ingredient9" value="<%=recipe.ingredient9%>">
            <input type="text" name="ingredient10" value="<%=recipe.ingredient10%>">
            <input type="text" name="ingredient11" value="<%=recipe.ingredient11%>">
            <input type="text" name="ingredient12" value="<%=recipe.ingredient12%>">
            <input type="text" name="ingredient13" value="<%=recipe.ingredient13%>">
            <input type="text" name="ingredient14" value="<%=recipe.ingredient14%>">
            <input type="text" name="ingredient15" value="<%=recipe.ingredient15%>">
          </div>
          <label>Preperation Instructions: 
            <textarea name="instructions" cols="55" rows="20"><%=recipe.instructions%></textarea>
          </label>
          <% if (recipe.owner.equals(user?.profile._id)) { %>
            <button type="submit">Update Recipe</button>
          </form>
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete</button>
            </form>
            <% } %>
            <form>
              <input type="button" value="Go back!" onclick="history.back()">
            </form>
      </div>
    <% } else{ %>
      <h1>You must be Logged in to add recipes!</h1>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
