<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">

<main>
  <div id="topSpaceBuffer"></div>
  <% if (user?.profile._id) { %>
  <div id="recipesIndexView">
    <% recipes.forEach(recipe =>{ %>
      <a href="/recipes/<%= recipe._id %>">
        <div id="recipeIndexCard">
          <h2><%=recipe.name%></h2>
          <% if (recipe.picture) {%>
            <img id="recipePic" src="<%=recipe.picture%>" alt="Picture of prepared food">
          <% } %>
          <p>
          <b>Cook Time:</b> <%=recipe.cookTime%>  
          <b>Prep Time:</b> <%=recipe.PrepTime%><br/>
          <b>Temp:</b> <%=recipe.temp%> Fahrenheit<br/>
          <b>Portions:</b> <%=recipe.yield%><br/>
          <b>Instructions:</b> <%=recipe.instructions%>
          </p>
        </div>
    <%})%>
  </div>
  <% } %>
</main>

<%- include('../partials/footer') %>
