<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
    <h1>Welcome Chef, <%= user ? user.profile.name : "" %></h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <a href="/recipes/new">
          <input value="add recipe" type="submit"/>
        </a>
      </div>
    <% } %>
</main>

<%- include('../partials/footer') %>
