<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
    
      <div id="recipesIndexView">
        <% recipes.forEach(recipe =>{ %>
          <a href="/recipes/<%= recipe._id %>">
          <div id="recipeIndexCard">
            <h2><%=recipe.name%></h2>
            <% if (recipe.picture) {%>
            <img src="<%=recipe.picture%>" alt="Picture of prepared food">
            <% } %>
            <p>
              Preperation Time: <%=recipe.PrepTime%><br/>
              Cooking Time: <%=recipe.cookTime%><br/>
              Cooking Temperature: <%=recipe.temp%> Fahrenheit<br/>
              Number of Portions: <%=recipe.yield%><br/>
              Cooking Instructions: <%=recipe.instructions%><br/>
            </p>
          </div>
          <%})%>
      </div>
      <div>
        <% if (user?.profile._id) { %>
        <a href="/recipes/new">
          <input value="add recipe" type="submit"/>
        </a>
        <% } else { %>
          <h1>You must be Logged in to add recipes!</h1>
          <% } %>
        </div>
</main>

<%- include('../partials/footer') %>
