<script defer src="/js/recipes/addIngredient.js"></script>
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css" />
<%- include('../partials/nav') %>

<main>
  <div id="topSpaceBuffer"></div>
  <div id="newRecipe">
    <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
    <div id="createRecipe">
      <form action="/recipes" method="POST">
        <label>
          <b>Recipe Title:</b>
          <input
            type="text"
            name="name"
            placeholder="Recipe Name"
            required
            size="43"
          />
        </label>
        <br />
        <br />
        <label>
          <b
            >Prep Time:
            <input type="number" name="prepTime" id="number" min="0"/> Minutes
          </b>
        </label>
        <label>
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cook Time:
            <input type="number" name="cookTime" id="number" min="0" required />
            Minutes</b
          >
        </label>
        <br />
        <br />
        <label>
          <b
            >Temperature: <input type="number" name="temp" id="number" min="0" />in
            Fahrenheit</b
          >
        </label>
        <label>
          <b
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portions:</b
          >
          <input type="number" name="yield" min="1" required id="number" />
        </label>
        <br />
        <br />
        <div id="ingredienList">
          <label>
            <b>Ingredients:</b>
            <input type="text" name="ingredients" size="43" />
            <br />
            <div id="container"></div>
            <br/>
            <button class="btn">
              <a href="#" id="addIngredientLink" onclick="addFields()"
                >Add more Ingredients</a
              >
            </button>
            <br />
          </label>
        </div>
        <br />
        <br />
        <label>
          <b>Preperation Instructions:</b>
          <br/>
          <br/>
          <textarea
          placeholder="Recipe instructions go here."
            name="instructions"
            cols="53"
            rows="17"
            required
            spellcheck="true"
            wrap="soft"
          ></textarea>
          <br />
          <br />
          <label>
            <b>Picture URL:</b>
            <input type="text" name="picture" size="43" id="pictureUrl" />
          </label>
          <% if(role==="admin") { %>
            <br/>Make recipe invisible to the index view by deselcting the visibility checkbox. Visible?
            <input type="checkbox" name="visible" checked>
          <% } %>
          <br />
          <br />
        </label>
        <input hidden name="owner" value="<%=owner%>" />
        <input hidden name="ownerName" value="<%=ownerName%>" />
        <input hidden name="ownerAvatar" value="<%=ownerAvatar%>" />
        <button class="btn" type="submit">Add Recipe</button>
      </form>
    </div>
    <% } else{ %>
    <h1>You must be Logged in to add recipes!</h1>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
