<script defer src="/js/recipes/addIngredient.js"></script>
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>

<main>
  <div id="newRecipe">
  <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
      <div id="createRecipe">
        <form action="/recipes" method="POST">
          <label>Recipe Title:
            <input type="text" name="name" placeholder="Recipe Name" required>
          </label>
          <label>Preperation Time: 
            <input type="number" name="prepTime">
          </label>
          <label>Cooking Time:
            <input type="number" name="cookTime" required>
          </label>
          <label>Cooking Temperature: 
            <input type="number" name="temp"  id="">
          </label>
          <label>Number of portions: 
            <input type="number" name="yield" min=1 required>
          </label>
          <br/>
          <div id="ingredienList">
            <input type="text" name="ingredients"><br/>
            <a href="#" id="addIngredientLink" onclick="addFields()">Add more Ingredients</a>
            <div id="container"></div>
          </div>
          <label>Preperation Instructions: 
            <textarea name="instructions" cols="50" rows="15" required spellcheck="true"></textarea>
            <label>Picture URL:
              <input type="text" name="picture" id="pictureUrl">
            </label>
          </label>
          <input hidden name="owner" value="<%=owner%>">
          <input hidden name="ownerName" value="<%=ownerName%>">
          <input hidden name="ownerAvatar" value="<%=ownerAvatar%>">
          <button type="submit">Add Recipe</button>
        </form>
      </div>
    <% } else{ %>
      <h1>You must be Logged in to add recipes!</h1>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
