<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
      <div id="recipesDetailView">
        <h2><%=recipe.name%></h2>
        <p>
          Preperation Time: <%=recipe.PrepTime%><br/>
          Cooking Time: <%=recipe.cookTime%><br/>
          Cooking Temperature: <%=recipe.temp%> Fahrenheit<br/>
          Number of Portions: <%=recipe.yield%><br/>
          <div id="ingredienList">
            <% recipe.ingredients.forEach(ingredient => { %>
              <%=ingredient %><br/>
            <%});%>
          </div>
          Cooking Instructions: <%=recipe.instructions%><br/>
        </p>
        <form>
          <input type="button" value="Go back" onclick="history.back()">
        </form>
        <% if (recipe.owner.equals(user?.profile._id)) { %>
          <a href="/recipes/<%= recipe._id %>/edit">
            <input value="Edit Recipe" type="submit"/>
          </a>
          <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete</button>
          </form>
        <% } %>
      </div>
      <div id="ratingBox">
        Average Rating<br/>
        <div class="Stars" style="--rating: 2.3;" aria-label="Rating of this product is 2.3 out of 5."></div>
        <br/>Your Rating<br/>
        <div class="Stars" style="--rating: 4;" aria-label="Rating of this product is 2.3 out of 5."></div>
      </div>
      <% recipe.comments.forEach(comment => { %>
      <div id="recipeComment">
          <%=comment.content %><br/>
          <img id="commentProfilePic" src="<%=comment.avatar%>">
          <%=comment.name %> left a message on 
          <%=comment.createdAt.toString().substring(0,15) %> at
          <%=comment.createdAt.toString().substring(16, 21) %>
          <% if (comment.owner.equals(user?.profile._id)) { %>
            <form 
              action="/recipes/<%= recipe._id %>/comments/<%=comment.id%>?_method=DELETE" 
              method="POST"
            >
              <button type="submit">remove comment</button>
            </form>
            <% } %>
          </div>
      <% }) %> 
      <div id="addRecipeComment">
        <form action="/recipes/<%=recipe._id%>/comments" method="post">
        <label>Leave a comment:<br/>
          <textarea name="content"  cols="40" rows="5"></textarea>
        </label>
        <br/>
        <input hidden name="name" value="<%=name%>">
        <input hidden name="avatar" value="<%=avatar%>">
        <button type="submit">Add Comment</button>
      </form>
      </div>
    <% } %>  
</main>

<%- include('../partials/footer') %>
